In [62]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [56]:
load = pd.read_csv('test.csv')
load[:3]

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q

In [71]:
load.plot()

In [76]:
a = load['Fare'].sum()
b = load['Age'].sum()
c = a/b
c

1.4781889060245745